.list-books {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  height: calc(100vh - 64px); // Subtract nav height
  // overflow-y: auto;

  .search-container {
    width: 100%;
    max-width: 100%;
    background: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    .search-icon {
      font-size: 20px;
      color: #888;
      margin-right: 10px;
    }

    .search-input {
      flex: 1;
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }

    .clear-button {
      background-color: #f1f1f1;
      border: none;
      border-radius: 5px;
      padding: 8px 12px;
      margin-left: 10px;
      cursor: pointer;
      font-size: 14px;
      color: #333;
      &:hover {
        background-color: #e1e1e1;
      }
    }
  }

  .book-table {
    width: 100%; // Phù hợp chiều ngang với cha
    max-width: 100%; // Không vượt quá giới hạn container cha
    margin-top: 20px; // Tạo khoảng cách với thanh tìm kiếm
    box-sizing: border-box; // Đảm bảo kích thước không bị ảnh hưởng bởi padding
    table-layout: fixed; // Đảm bảo bảng không tự thay đổi kích thước dựa trên nội dung

    border-collapse: collapse;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 13px;

    thead {
      // position: sticky;
      top: 120px;
      background-color: #f1f1f1;
      z-index: 5;

      th {
        text-align: center; // Tiêu đề căn giữa

        padding: 10px;
        font-weight: bold;
        border-bottom: 2px solid #ddd;
      }
    }

    th,
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #fafafa;
        }
        &:hover {
          background-color: #f0f0f0;
        }

        td {
          padding: 10px;
          border-bottom: 1px solid #ddd;
          text-align: left; // Dữ liệu căn trái

          &.checkbox-container {
            text-align: center;
          }

          .large-checkbox {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    th:nth-child(1),
    td:nth-child(1) {
      width: 5%; // Checkbox
    }
    th:nth-child(2),
    td:nth-child(2) {
      width: 10%; // ID
    }
    th:nth-child(3),
    td:nth-child(3) {
      width: 40%; // Name
    }
    th:nth-child(4),
    td:nth-child(4) {
      width: 15%; // Genre
    }
    th:nth-child(5),
    td:nth-child(5) {
      width: 15%; // Classification
    }
    th:nth-child(6),
    td:nth-child(6) {
      width: 10%; // Original Price
    }
    th:nth-child(7),
    td:nth-child(7) {
      width: 10%; // Discount
    }
    th:nth-child(8),
    td:nth-child(8) {
      width: 10%; // Sale Price
    }
    th:nth-child(9),
    td:nth-child(9) {
      width: 10%; // Actions
    }
  }
}
